@{
    ViewBag.Title = "Index";
}
<script src="../../Scripts/AddTicket.js" type="text/javascript"></script>
<h2>Index</h2>
<span id="lblFirstName">Bart</span><br/>
<span id="lblLastName">De Meyer</span><br/>
<span>Ticket: </span>
<input name="Ticket" id="txtTicket"/><br/>
<input type="button" id="btnSave" value="Save"/><br/>
<select id="lstTickets" name="lstTickets" size="4"> </select>